.sous {
	width: 1200px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

}

.sous-product {
	width: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 50px;

}

.sous-product > h1 {
	display: flex;
	justify-content: center;
	width: 350px;
	background: #ffd149;
	border-radius: 20px;
	font-size: 22px;
}
.sous-product > img {
	display: flex;
	width: 250px;
	height: 250px;
	justify-content: center;
	align-items: center;
}
.sous-product > .substrate > p {
	width: 200px;
	display: flex;
	justify-content: center;
	font-size: 15px;
	font-weight: bolder;
}
.sous-product > a {
	text-decoration: none;
	width: 200px;
    font-size: 20px;
	color: red;
    background: #990000;
    border-radius: 100px;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    text-transform: uppercase;
    padding: 10px;
    margin-top: -60px;
    transition: 0.5s;
}
.sous-product > a:hover {
	transform: scale(1.2)
}
.substrate {
	background: #ffd149;
	border-radius: 20px;
	width: 350px;
	display: flex;
	justify-content: center;
	height: 170px;
	margin-top: 15px;
}